In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('testEL.csv')
df

    A      EL  Y
0   4  10-May  0
1   6   3-May  0
2   2  Nov-88  0
3   1  Feb-92  0
4   3  Sep-96  0
5   2   8-May  0
6   3   5-Jul  0
7   4  Jul-00  0
8   5   6-Oct  0
9   2   4-Aug  0
10  1   6-Mar  0
11  1  Dec-94  1
12  1  Dec-96  0
13  5   2-Aug  1
14  4   8-Jul  0
15  6  11-Jan  0
16  3  Sep-00  1
17  2  Dec-99  0
18  1  12-Feb  0
19  3  Dec-95  0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       20 non-null     int64
 1   EL      20 non-null     object
 2   Y       20 non-null     int64
dtypes: int64(2), object(1)
memory usage: 608.0+ bytes

In [24]:
a = 'Dec-95'

In [25]:
a = a.split('-')

In [20]:
a

['Dec', '95']

In [22]:
for a in a:
    if a.isdigit():
        print(a)

9
5

In [21]:
for a in a:
    if a.isnumeric():
        print(a)

95

In [26]:
[a for a in a if a.isnumeric()]

['95']

In [16]:
b

['9', '5']

In [ ]:
a = 'Dec-95'

In [ ]:
def EC(a):
    b = a.split('-')
    for b in b:
        if b.isnumeric():
            # 提取年份
        else:
            # 提取月份

In [27]:
df['EL'] = df['EL'].apply(lambda s: int(s[-4:]))

ValueError: invalid literal for int() with base 10: '-May'

#### 测试2 为什么加的test列是int却describe出众数

In [28]:
test = [1, 2, 3, 4, 4, 5, 6, 7, 7, 7, 8, 2, 3, 4, 9, 5, 6, 7, 1, 7, ]

In [29]:
df["C"] = test

In [30]:
df

    A      EL  Y  C
0   4  10-May  0  1
1   6   3-May  0  2
2   2  Nov-88  0  3
3   1  Feb-92  0  4
4   3  Sep-96  0  4
5   2   8-May  0  5
6   3   5-Jul  0  6
7   4  Jul-00  0  7
8   5   6-Oct  0  7
9   2   4-Aug  0  7
10  1   6-Mar  0  8
11  1  Dec-94  1  2
12  1  Dec-96  0  3
13  5   2-Aug  1  4
14  4   8-Jul  0  9
15  6  11-Jan  0  5
16  3  Sep-00  1  6
17  2  Dec-99  0  7
18  1  12-Feb  0  1
19  3  Dec-95  0  7

In [32]:
df.describe(include='all')

                A     EL          Y         C
count   20.000000     20  20.000000  20.00000
unique        NaN     20        NaN       NaN
top           NaN  4-Aug        NaN       NaN
freq          NaN      1        NaN       NaN
mean     2.950000    NaN   0.150000   4.90000
std      1.669384    NaN   0.366348   2.38195
min      1.000000    NaN   0.000000   1.00000
25%      1.750000    NaN   0.000000   3.00000
50%      3.000000    NaN   0.000000   5.00000
75%      4.000000    NaN   0.000000   7.00000
max      6.000000    NaN   1.000000   9.00000

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       20 non-null     int64
 1   EL      20 non-null     object
 2   Y       20 non-null     int64
 3   C       20 non-null     int64
dtypes: int64(3), object(1)
memory usage: 768.0+ bytes