In [1]:
import pandas as pd
import numpy as np

In [2]:
a = pd.Series([1, 2, np.nan, 4])
a

0    1.0
1    2.0
2    NaN
3    4.0
dtype: float64

In [3]:
a.astype('Int64')

0       1
1       2
2    <NA>
3       4
dtype: Int64

#### 首先可以astype Int8

In [4]:
a.astype('Int8')

0       1
1       2
2    <NA>
3       4
dtype: Int8

#### 是否可以比较？

In [5]:
np.iinfo(np.int8).min

-128

In [6]:
np.iinfo(np.int8).max

127

In [7]:
np.iinfo(np.int8).min < a.min() and a.max() < np.iinfo(np.int8).max

True

#### test df

In [8]:
df = pd.DataFrame(np.random.randn(4, 3), index=['0', '2', '4', '5'], \
                  columns=['one', 'two', 'three'])

In [9]:
df = df.reindex(['0', '1', '2', '3', '4', '5'])
df['four'] = 1

In [10]:
df

        one       two     three  four
0  0.602116  0.625471  0.465164     1
1       NaN       NaN       NaN     1
2  0.772256  1.417350 -0.289532     1
3       NaN       NaN       NaN     1
4 -0.266395  1.354258  0.416831     1
5 -0.136211 -1.850511 -1.874231     1

In [11]:
df.iloc[1,0]=1.2
df.iloc[3,1]=2
df.iloc[2,3] = np.nan

In [12]:
df

        one       two     three  four
0  0.602116  0.625471  0.465164   1.0
1  1.200000       NaN       NaN   1.0
2  0.772256  1.417350 -0.289532   NaN
3       NaN  2.000000       NaN   1.0
4 -0.266395  1.354258  0.416831   1.0
5 -0.136211 -1.850511 -1.874231   1.0

In [13]:
df['four'] = df['four'].astype('Int64')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   one     5 non-null      float64
 1   two     5 non-null      float64
 2   three   4 non-null      float64
 3   four    5 non-null      Int64
dtypes: Int64(1), float64(3)
memory usage: 246.0+ bytes

In [15]:
import psutil

In [16]:
## Simple "Memory profilers" to see memory usage
def get_memory_usage():
    return np.round(psutil.Process(os.getpid()).memory_info()[0]/2.**30, 2)

def sizeof_fmt(num, suffix='B'):
    for unit in ['','Ki','Mi','Gi','Ti','Pi','Ei','Zi']:
        if abs(num) < 1024.0:
            return "%3.1f%s%s" % (num, unit, suffix)
        num /= 1024.0
    return "%.1f%s%s" % (num, 'Yi', suffix)

In [17]:
def reduce_mem_usage(df, verbose=True):
    numerics = ['Int16', 'Int32', 'Int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'Int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype('Int8')
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                       df[col] = df[col].astype('Int16')
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype('Int32')
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype('Int64')
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

In [18]:
print("{:>20}: {:>8}".format('Original df',sizeof_fmt(df.memory_usage(index=True).sum())))

         Original df:   246.0B

In [19]:
df = reduce_mem_usage(df)

Mem. usage decreased to  0.00 Mb (61.0% reduction)

F:\Anaconda\envs\kaggle\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: Numeric-style type codes are deprecated and will result in an error in the future.

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   one     5 non-null      float16
 1   two     5 non-null      float16
 2   three   4 non-null      float16
 3   four    5 non-null      Int8
dtypes: Int8(1), float16(3)
memory usage: 96.0+ bytes