In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import warnings
import pickle
warnings.filterwarnings('ignore')

In [2]:
train = pd.read_csv('../cf-train.csv') # 这里用的还是obj的grade
test = pd.read_csv('../cf-testa.csv')

In [3]:
print('Train data shape:',train.shape)
print('TestA data shape:',test.shape)

Train data shape: (800000, 48)
TestA data shape: (200000, 48)

In [4]:
pd.set_option('display.max_columns', None)
train.head(10)

,id,loanAmnt,term,interestRate,installment,grade,subGrade,employmentTitle,employmentLength,homeOwnership,annualIncome,verificationStatus,issueDate,isDefault,purpose,postCode,regionCode,dti,delinquency_2years,ficoRangeLow,ficoRangeHigh,openAcc,pubRec,pubRecBankruptcies,revolBal,revolUtil,totalAcc,initialListStatus,applicationType,earliesCreditLine,title,n0,n1,n2,n3,n4,n5,n6,n7,n8,n9,n10,n11,n12,n13,n14,flag,issueDateDT
0,0,35000,5,19.515625,918.0000,E,E2,64,2.0,2,110000.0,2,2014-07-01,1,1,137,32,17.046875,0,730,734,7,0,0,24178,48.90625,27,0,0,2001-08-01,1,0,2,2,2,4,9,8,4,12,2,7,0,0,0,2,train,2588.0
1,1,18000,5,18.484375,462.0000,D,D2,-61,5.0,0,46000.0,2,2012-08-01,0,0,156,18,27.828125,0,700,704,13,0,0,15096,38.90625,18,1,0,2002-05-01,1723,<NA>,<NA>,<NA>,<NA>,10,<NA>,<NA>,<NA>,<NA>,<NA>,13,<NA>,<NA>,<NA>,<NA>,train,1888.0
2,2,12000,5,16.984375,298.2500,D,D3,-46,8.0,0,74000.0,2,2015-10-01,0,0,337,14,22.765625,0,675,679,11,0,0,4606,51.81250,27,0,0,2006-05-01,0,0,0,3,3,0,0,21,4,5,3,11,0,0,0,4,train,3044.0
3,3,11000,3,7.261719,341.0000,A,A4,6,10.0,1,118000.0,1,2015-08-01,0,4,148,11,17.203125,0,685,689,9,0,0,9948,52.59375,28,1,0,1999-05-01,4,6,4,6,6,4,16,4,7,21,6,9,0,0,0,1,train,2984.0
4,4,3000,3,12.992188,101.0625,C,C2,54,NaN,1,29000.0,2,2016-03-01,0,10,301,21,32.156250,0,690,694,12,0,0,2942,32.00000,27,0,0,1977-08-01,11,1,2,7,7,2,4,9,10,15,7,12,0,0,0,4,train,3196.0
5,5,11000,3,7.988281,344.7500,A,A5,15,7.0,0,39000.0,2,2017-04-01,0,9,512,21,17.140625,0,730,734,19,0,0,4047,31.09375,52,1,0,1998-07-01,10,12,1,2,2,1,1,48,2,3,2,19,0,0,0,0,train,3592.0
6,6,2050,3,7.691406,63.9375,A,A4,115,9.0,0,35000.0,0,2014-10-01,0,0,517,14,17.484375,0,755,759,12,0,0,3111,8.50000,23,0,0,2006-10-01,0,0,1,3,3,7,11,3,10,18,3,12,0,0,0,3,train,2680.0
7,7,11500,3,14.976562,398.5000,C,C3,1,1.0,1,30000.0,2,2014-01-01,0,0,100,4,32.593750,0,665,669,8,1,1,14021,59.68750,33,1,0,1994-12-01,0,0,4,4,4,4,16,10,5,21,4,8,0,0,0,2,train,2406.0
8,8,12000,3,12.992188,404.2500,C,C2,-68,5.0,2,60000.0,1,2016-05-01,1,0,792,13,19.218750,0,690,694,15,0,0,27176,46.00000,21,1,0,1994-04-01,0,0,7,13,13,7,7,2,13,17,11,15,<NA>,0,0,6,train,3256.0
9,9,6500,3,10.992188,212.7500,B,B4,54,NaN,1,15300.0,2,2015-11-01,0,0,59,11,24.390625,0,725,729,7,0,0,2936,30.59375,63,0,0,1993-01-01,0,0,4,5,5,4,21,24,6,39,5,7,0,0,0,8,train,3076.0

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 800000 entries, 0 to 799999
Data columns (total 48 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  800000 non-null  Int32
 1   loanAmnt            800000 non-null  Int32
 2   term                800000 non-null  Int8
 3   interestRate        800000 non-null  float16
 4   installment         800000 non-null  float16
 5   grade               800000 non-null  object
 6   subGrade            800000 non-null  object
 7   employmentTitle     799999 non-null  Int8
 8   employmentLength    753201 non-null  float16
 9   homeOwnership       800000 non-null  Int8
 10  annualIncome        800000 non-null  float32
 11  verificationStatus  800000 non-null  Int8
 12  issueDate           800000 non-null  datetime64[ns]
 13  isDefault           800000 non-null  Int8
 14  purpose             800000 non-null  Int8
 15  postCode            799999 non-null  Int16
 16  regionCode          800000 non-null  Int8
 17  dti                 799761 non-null  float16
 18  delinquency_2years  800000 non-null  Int8
 19  ficoRangeLow        800000 non-null  Int16
 20  ficoRangeHigh       800000 non-null  Int16
 21  openAcc             800000 non-null  Int8
 22  pubRec              800000 non-null  Int8
 23  pubRecBankruptcies  799595 non-null  Int8
 24  revolBal            800000 non-null  Int32
 25  revolUtil           799469 non-null  float16
 26  totalAcc            800000 non-null  Int16
 27  initialListStatus   800000 non-null  Int8
 28  applicationType     800000 non-null  Int8
 29  earliesCreditLine   800000 non-null  datetime64[ns]
 30  title               799999 non-null  Int32
 31  n0                  759730 non-null  Int8
 32  n1                  759730 non-null  Int8
 33  n2                  759730 non-null  Int8
 34  n3                  759730 non-null  Int8
 35  n4                  766761 non-null  Int8
 36  n5                  759730 non-null  Int8
 37  n6                  759730 non-null  Int16
 38  n7                  759730 non-null  Int8
 39  n8                  759729 non-null  Int16
 40  n9                  759730 non-null  Int8
 41  n10                 766761 non-null  Int8
 42  n11                 730248 non-null  Int8
 43  n12                 759730 non-null  Int8
 44  n13                 759730 non-null  Int8
 45  n14                 759730 non-null  Int8
 46  flag                800000 non-null  string
 47  issueDateDT         800000 non-null  float16
dtypes: Int16(6), Int32(4), Int8(26), datetime64[ns](2), float16(6), float32(1), object(2), string(1)
memory usage: 117.5+ MB

### grade & subgrade

In [6]:
train['subGrade'].value_counts().sort_index()

A1    25909
A2    22124
A3    22655
A4    30928
A5    38045
B1    42382
B2    44227
B3    48600
B4    49516
B5    48965
C1    50763
C2    47068
C3    44751
C4    44272
C5    40264
D1    30538
D2    26528
D3    23410
D4    21139
D5    17838
E1    14064
E2    12746
E3    10925
E4     9273
E5     8653
F1     5925
F2     4340
F3     3577
F4     2859
F5     2352
G1     1759
G2     1231
G3      978
G4      751
G5      645
Name: subGrade, dtype: int64

### 就是每一组，不还的占比

In [7]:
train['subGrade'].value_counts().sort_values(ascending=False)

C1    50763
B4    49516
B5    48965
B3    48600
C2    47068
C3    44751
C4    44272
B2    44227
B1    42382
C5    40264
A5    38045
A4    30928
D1    30538
D2    26528
A1    25909
D3    23410
A3    22655
A2    22124
D4    21139
D5    17838
E1    14064
E2    12746
E3    10925
E4     9273
E5     8653
F1     5925
F2     4340
F3     3577
F4     2859
F5     2352
G1     1759
G2     1231
G3      978
G4      751
G5      645
Name: subGrade, dtype: int64

In [8]:
train['employmentTitle'].value_counts().sort_values(ascending=False)

 54     53745
 38     14554
 32     14094
-72      8389
 51      7419
        ...
 121     1774
 27      1774
-17      1765
-19      1765
-24      1713
Name: employmentTitle, Length: 256, dtype: Int64

In [10]:
test['employmentTitle'].value_counts().sort_values(ascending=False)

 54    13449
 38     3703
 32     3630
-72     2129
 51     1855
       ...
-67      435
 10      433
-17      425
 57      419
-24      408
Name: employmentTitle, Length: 256, dtype: Int64

In [9]:
train['purpose'].value_counts().sort_values(ascending=False)

0     464096
4     175433
2      52129
5      46276
3      17579
9       9238
1       9106
8       8657
10      5652
7       5373
6       4354
12      1363
11       554
13       190
Name: purpose, dtype: Int64

In [11]:
test['purpose'].value_counts().sort_values(ascending=False)

0     116130
4      43898
2      12936
5      11504
3       4442
9       2322
1       2263
8       2155
10      1396
7       1357
6       1062
12       339
11       138
13        58
Name: purpose, dtype: Int64

In [12]:
train['regionCode'].value_counts().sort_values(ascending=False)

8     116921
14     65768
13     65041
21     56671
2      30513
30     28634
0      27180
19     26198
3      25766
9      22902
7      22600
23     20919
10     19604
12     18543
26     18432
22     17722
18     17286
4      14177
11     12929
24     12776
32     12065
38     11982
36     11644
27     10521
17      9863
35      9669
5       9581
20      9124
43      7701
42      7267
15      6690
37      5998
45      5932
16      4325
28      4036
44      3963
33      3817
6       3496
39      2943
40      2287
31      2261
34      2136
25      2102
48      1880
41      1778
1       1624
29      1560
47      1213
49      1001
46       953
50         6
Name: regionCode, dtype: Int64

In [14]:
test['regionCode'].value_counts().sort_values(ascending=False)

8     29031
13    16309
14    16249
21    14492
2      7666
30     7299
0      6821
19     6429
3      6358
7      5633
9      5607
23     5327
10     4747
26     4654
12     4577
22     4394
18     4286
4      3600
11     3348
24     3086
38     3042
32     3026
36     2928
27     2628
35     2491
17     2471
5      2349
20     2330
43     1880
42     1826
15     1641
45     1583
37     1472
16     1170
28     1000
44      969
33      949
6       909
39      712
31      581
40      579
34      527
48      499
25      493
1       441
41      406
29      384
47      304
49      274
46      222
50        1
Name: regionCode, dtype: Int64

In [13]:
train['postCode'].value_counts().sort_values(ascending=False)

134    8956
19     8611
51     8161
31     7337
4      7176
       ...
935       1
886       1
932       1
933       1
915       1
Name: postCode, Length: 932, dtype: Int64

In [15]:
test['postCode'].value_counts().sort_values(ascending=False)

134    2136
19     2105
51     2028
31     1851
4      1790
       ...
868       1
889       1
931       1
850       1
858       1
Name: postCode, Length: 889, dtype: Int64

In [16]:
import pandas_profiling
pfr = pandas_profiling.ProfileReport(train)
pfr.to_file("./traineg.html")

HBox(children=(FloatProgress(value=0.0, description='Summarize dataset', max=62.0, style=ProgressStyle(descrip…

HBox(children=(FloatProgress(value=0.0, description='Generate report structure', max=1.0, style=ProgressStyle(…

HBox(children=(FloatProgress(value=0.0, description='Render HTML', max=1.0, style=ProgressStyle(description_wi…

HBox(children=(FloatProgress(value=0.0, description='Export report to file', max=1.0, style=ProgressStyle(desc…