In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import warnings
warnings.filterwarnings('ignore')
df = pd.read_csv('../input/train.csv')

In [13]:
ta = pd.read_csv('../input/testA.csv')

df 用来拼train和testA比较好，这里先暂时用来表示train

In [7]:
df['term'].value_counts()

3    606902
5    193098
Name: term, dtype: int64

还以为房多不会坏账呢，好像差不多啊，都是3.8，没对比，主要是不知道总isDefault占比，

In [8]:
df.loc[df['homeOwnership']>=2,:]['isDefault'].value_counts()

0    68611
1    17997
Name: isDefault, dtype: int64

In [9]:
df.loc[df['homeOwnership']>=3,:]['isDefault'].value_counts()

0    237
1     62
Name: isDefault, dtype: int64

有4套房的可能是大老板

In [10]:
df.loc[df['homeOwnership']>=4,:]

,id,loanAmnt,term,interestRate,installment,grade,subGrade,employmentTitle,employmentLength,homeOwnership,...,n5,n6,n7,n8,n9,n10,n11,n12,n13,n14
361,361,12000,3,16.63,425.64,E,E4,37687.0,3 years,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11361,11361,12000,3,16.29,423.61,C,C4,328261.0,5 years,5,...,6.0,11.0,4.0,9.0,4.0,6.0,0.0,0.0,0.0,0.0
11391,11391,5600,3,10.64,182.39,B,B4,244822.0,4 years,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14610,14610,16000,3,12.21,533.04,B,B5,245444.0,< 1 year,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17447,17447,11700,3,15.31,407.37,C,C2,326041.0,10+ years,4,...,5.0,0.0,6.0,13.0,6.0,7.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785166,785166,5000,3,11.14,164.02,B,B1,244604.0,3 years,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
787288,787288,4000,3,9.32,127.79,A,A4,244410.0,5 years,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
794438,794438,9000,3,10.83,293.93,B,B3,241686.0,< 1 year,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
796904,796904,9200,3,7.62,286.69,A,A3,327017.0,7 years,4,...,16.0,9.0,7.0,18.0,4.0,11.0,0.0,0.0,0.0,1.0
797584,797584,25000,3,11.14,820.13,B,B4,224404.0,1 year,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

和人一起申请的，是创业或者买房?

In [12]:
df.loc[df['applicationType']==1,:]['purpose'].value_counts()

0     9564
4     2630
2     1213
5      899
3      296
9      255
1      130
8      127
10     111
6      103
7       78
11       8
Name: purpose, dtype: int64

怎么把他转成比例看呢?

In [14]:
df['purpose'].value_counts()

0     464096
4     175433
2      52129
5      46276
3      17579
9       9238
1       9106
8       8657
10      5652
7       5373
6       4354
12      1363
11       554
13       190
Name: purpose, dtype: int64

In [16]:
ta['purpose'].value_counts()

0     116130
4      43898
2      12936
5      11504
3       4442
9       2322
1       2263
8       2155
10      1396
7       1357
6       1062
12       339
11       138
13        58
Name: purpose, dtype: int64

In [15]:
df['employmentTitle'].value_counts()

54.0        51149
38.0        12644
32.0        11543
184.0        6112
151.0        5193
            ...
311225.0        1
13438.0         1
311224.0        1
311223.0        1
269398.0        1
Name: employmentTitle, Length: 248683, dtype: int64